[Unit]
Description=DNBD3-Server
After=network.target
Requires=network.target

[Service]
User=dnbd3
ExecStart={{ dnbd3_server_binary }} -n -c {{ dnbd3_config_dir }}
ExecStop=/bin/kill -15 $MAINPID
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
