[Unit]
Description=Mount /srv persistent dir
Before=dnbd3-server.service

[Mount]
What=PARTLABEL=OPENSLX_PERSISTENT
Where=/srv
Type=xfs
Options=defaults

[Install]
WantedBy=multi-user.target
